* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  /* border: 1px solid green; */
}

@font-face {
  font-family: snes;
  src: url("../assets/fonts/SnesItalic-1G9Be.ttf");
}

@font-face {
  font-family: emotion;
  src: url("../assets/fonts/EmotionEngine-8ynA.ttf");
}

html {
  height: 100vh;
  max-width: 100vw;
  background-color: rgb(32, 5, 82); 
  background-image: url('.././assets/images/fondo-html.jpg');
  background-size: cover;    
  background-repeat:repeat; 
}

body {
  height: 100vh;  
  max-width: 95vw;  
  margin-left: auto;
  margin-right: auto;
}

header {
  font-family: snes;
  border: 1px solid rgba(0, 0, 0, 1);
  background: url(.././assets/images/4ea84f04d08d72d2cd574d14f5dad176.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 100%;       
}

h1 {
  font-family: "snes", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);  
  color: white;
  display: flex;
  justify-content: center;  
  font-size: 4em;
  padding-top: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 2px rgb(113, 5, 156), -2px -2px 1px rgb(3, 171, 197);  
  letter-spacing: 0.05em;
}

header h1 {
  letter-spacing: normal;
  font-family: "snes", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 8em;
  padding-top: 0.1em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}

/* Language Selectors */
.uk-flag {  
  width: 2em;
  position: absolute;
  display: flex;
  margin-left: 91%;
  margin-top: 1em;
  border-radius: 10%;
}

.ar-flag {  
  width: 2em;
  position: absolute;
  display: flex;
  margin-left: 85%;
  margin-top: 1em;
  border-radius: 10%;
}

.br-flag {  
  width: 2em;
  position: absolute;
  display: flex;
  margin-left: 88%;
  margin-top: 1em;
  border-radius: 10%;
}

main {
  background-color: rgba(2, 4, 24,0.9);
  padding: 3rem;  
}

footer {
  max-width: 100%;       
  margin-left: auto;
  margin-right: auto;
}

footer h3 {
  background-color: rgba(0, 0, 0,0.8);
  color: white;
  text-align: center;
  font-family: emotion;
  font-size: 2em;  
  padding-top: 1em;
  text-shadow: 2px 2px 1px  rgb(113, 5, 156);
}

ul {
  display: flex;
  position: relative;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin-right: 1em;  
}

p{
  color: black;
  font-size: 25px;
}

/*------------------------------- Navbar Section -----------------------------------*/

.menu-toggle {
  display: none;  
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
  display: flex;    
  align-items: center;
  justify-content: space-evenly;
  padding: 1em;
  position: sticky;
  top:0;
}

.sect {
	width: 100%;  
}

.sect img{
width: 100%;
}

.navbar a {
  font-family: snes;
  font-size: 2em;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;        
  border-radius: 0.3em;
  padding: 0.5em 1em;
}

.hipervinculos {
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 12%;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.8s;
}

.hipervinculos span {
  position: absolute;
  display: block;
}

.span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#0ff);
}

.span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#0ff);
}

.span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#0ff);
}

.span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#0ff);
}

/* Hyperlinks visual effects */
.hipervinculos:hover {
  background-color: rgba(83, 147, 177, 0.7);
  color: white;
  opacity: 1;
  box-shadow: 0 0 10px #0ff, 0 0 40px #0ff,0 0 80px #0ff;
  transition-delay: 0.7s;
}

.hipervinculos:hover .span1 {
  left: 100%;
  transition: 1s;
}

.hipervinculos:hover .span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.hipervinculos:hover .span3 {
  right: 100%;
  transition: 1s;
}

.hipervinculos:hover .span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}  

/*------------------------------- Social Media Section -----------------------------------*/

/* icons container*/
.social-container {
  background-color: rgba(0, 0, 0,0.8);
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3em;
}
  
/* space between icons */
.social-container li { 
  margin: 0 1em;
  width: 6em;
  list-style: none;
}

.social-networks{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  transition: .5s;
}

/* icons settings */
.fa-brands{
  background-color: #333;
  color:white;
  font-size: 40px;
  border-radius: 50%;
  position: relative;
  bottom:-3px ;
  opacity: .2;
}

#copyright {
  font-family: emotion;  
  background-color: rgba(0, 0, 0);
  padding: 1rem;  
  text-align: center;
  color : white;
  font-size: 1.5em;
}

/* Social media visual effects */
.fa-brands:hover{
  color :white;
  opacity: 1;
  transition: 0.5s;
}  

.social-networks:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:50%;
  background: white;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.social-networks:hover:before {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgb(113, 5, 156);
  filter: blur(3px);
}

.social-networks:hover {
  color: white;
  box-shadow: 0 0 25px aqua;
  text-shadow: 0 0 5px aqua;
}

.top-button {
  background-color: rgb(84, 0, 82);
  width: 7em;
  padding: 0.3em;
  margin-top: 1em;    
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;  
  display: flex;
  align-items: center; 
  justify-content: center; 
  color: white;
  font-size: 2em;
  font-family: snes;
  text-decoration: none;
  letter-spacing: 0.04em;  
}

.top-button:hover {
  color: white;
  transition: 1s;
  box-shadow: 0 0 40px aqua;  
}

/*------------------------------ MEDIA QUERIES ---------------------------------------*/

@media screen and (max-width: 767px) {

  main {
    padding: 0;
    padding-bottom: 1em;
  }
  
  header h1 {    
    display: flex;
    align-items: center;
    height: 1.5em;
    margin-top: 0;
    padding-top: 1.4em;
    padding-bottom: 0.8em;
    margin-bottom: 0;
    font-size: 5em;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  .navbar {
    background-color: rgba(13, 3, 33, 0.8);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.7em;    
  }

  .navbar a {
    font-family: snes;
    font-size: 2em;
    flex-direction: column;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;    
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(84, 0, 82);    
    margin-left: 85%;    
    border: 1px solid rgb(162, 15, 147);
    border-radius: 10%;
    cursor: pointer;    
  }

  .bar {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #bababa; 
    margin: 4px 0;    
    
  }

  /* Collapsable Menu settings */
  .navbar ul {
    display: none;   
  }

  .navbar ul.active {
    display: block;    
  }

  .uk-flag {    
    width: 2em;
    position: absolute;
    display: flex;
    margin-left: 85%;
    margin-top: 1em;
    border-radius: 10%;
  }
  
  .ar-flag {    
    width: 2em;
    position: absolute;
    display: flex;
    margin-left: 65%;
    margin-top: 1em;
    border-radius: 10%;
  }
  
  .br-flag {    
    width: 2em;
    position: absolute;
    display: flex;
    margin-left:75%;
    margin-top: 1em;
    border-radius: 10%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  header h1 {
    padding-top: 0.5em;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.1em;
  }

  .navbar a {
    font-family: snes;
    font-size: 2em;
    flex-direction: column;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    border-radius: 0.3em;
    padding: 0.5em 1em;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(84, 0, 82);
    box-shadow: 1px -1px 2px rgb(252, 1, 227);
    margin-left: 85%;
    border: none;
    border-radius: 10%;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000; 
    margin: 4px 0;
  }

  /* Collapsable menu settings */
  .navbar ul {
    display: none; 
  }

  .navbar ul.active {
    display: block; 
  }

  .uk-flag {   
    width: 2em;
    position: absolute;
    display: flex;
    margin-left: 90%;
    margin-top: 1em;
    border-radius: 10%;
  }
  
  .ar-flag {    
    width: 2em;
    position: absolute;
    display: flex;
    margin-left: 80%;
    margin-top: 1em;
    border-radius: 10%;
  }
  
  .br-flag {    
    width: 2em;
    position: absolute;
    display: flex;
    margin-left:85%;
    margin-top: 1em;
    border-radius: 10%;
  }
}
