* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
 /* border: 1px red solid;   */
  /*background-color: rgb(255, 17, 255);*/  
}

@font-face {
  font-family: snes;
  src: url("../assets/fonts/SnesItalic-1G9Be.ttf");
}

@font-face {
  font-family: emotion;
  src: url("../assets/fonts/EmotionEngine-8ynA.ttf");
}

html {
  height: 100vh;
  max-width: 100vw;
 background-color: rgb(68, 8, 56); 
 background-image: url('.././assets/images/fondo-html.jpg');
  background-size: cover;  
  background-repeat: repeat; 
 }


 h1 {
  font-family: "snes", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);  
  color: white;
  display: flex;
  justify-content: center;  
  font-size: 4em;
  padding-top: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}



header {
  /*background-color: rgb(30, 30, 52);*/
  font-family: snes;
  border: 1px solid rgba(0, 0, 0, 1);
  background: url(.././assets/images/4ea84f04d08d72d2cd574d14f5dad176.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 100%;       
}

header h1 {
  font-family: "snes", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 8em;
  padding-top: 0.1em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
}  

body {
  background-color: rgb(2, 4, 24);
  height: 100vh;  
  max-width: 95vw;  
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: rgb(2, 4, 24);
}

  /*------------------------------- Navbar Section -----------------------------------*/
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

.navbar a {
    font-family: snes;
    font-size: 2em;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;        
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

ul {
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    margin-right: 1em;  
}

/*Hipervinculos*/
.hipervinculos {
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 12%;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 1em;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.8s;
}

.hipervinculos:hover {
    background-color: rgba(83, 147, 177, 0.7);
    color: white;
    opacity: 1;
    box-shadow: 0 0 10px #0ff, 0 0 40px #0ff,0 0 80px #0ff;
    transition-delay: 0.7s;
}

.hipervinculos span {
    position: absolute;
    display: block;
}

.span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#0ff);
}

.span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#0ff);
}

.span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#0ff);
}

.span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#0ff);
}

.hipervinculos:hover .span1 {
    left: 100%;
    transition: 1s;
}

.hipervinculos:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.hipervinculos:hover .span3 {
    right: 100%;
    transition: 1s;
}

.hipervinculos:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}  




  /*------------------------------- Social Media Section -----------------------------------*/

  footer {
    max-width: 100%;       
    margin-left: auto;
    margin-right: auto;
  }

/* Estilos para el título */
footer h3 {
  background-color: rgba(0, 0, 0);
 
  color: white;
  text-align: center;
  font-family: emotion;
  font-size: 2em;  
  padding-top: 0.5em;
}

/* Estilos para la lista de redes sociales */
.social-networks {
  background-color: rgba(0, 0, 0);
  /* background: url(.././assets/images/fondo\ form.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; */
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 3em;
}

.social-networks li { /* SEPARACION ENTRE ICONOS*/
  margin: 0 1em;
  width: 6em;
  list-style: none;
}

.fa-brands {  /* MANEJO DE LOS ICONOS */
  background-color: #3c3c3c;
  display: flex;
  justify-content: center;
  width: 1.3em;
  height: 1.3em;  
  color: white;
  font-size: 3em;
  border-radius: 100%;
  opacity: 0.5;
  transition: 0.5s;
  margin: 0;
  padding-top: 0.15em;  
  margin-top: auto;
  margin-bottom: auto;
}

.fa-brands:hover {
  color: white;
  opacity: 1;
}

/* Estilos para el contenedor de redes sociales */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 90vw;   
}

.social-networks {
  text-align: center;
  transition: .5s;
  align-items: center; /* Centra verticalmente los íconos */
}

.social-networks:hover {    
  text-shadow: 0 0 15px aqua, 0 0 50px aqua;
}


/* Estilos para el texto de derechos de autor */
#copyright {
  font-family: emotion;
  text-align: center;
  margin-top: 2vw;
  color: white;
}