/* contenedor padre */
h2{
  font-family: 'emotion';
  font-weight: bold;
  font-size: 35px;
  text-shadow: 2px 2px 5px aqua;
  color: white;
  text-align: center; 
  margin-bottom: -1.7rem;
  padding: 0 0 0 15rem; 
}
#noticias { 
  display: flex; 
  flex-flow: column nowrap; /* atajo para que este en formato vertical y que no se desborde el contenido */
  row-gap: 1rem ; /* espacio entre filas */
}

.mageseeker { 
  background-color: rgba(0, 0, 0, 0.3); /* se le da opacidad al fondo para que resalte mejor el texto */
  min-height: 10rem;
}
.mageseeker a {
  font-family: 'emotion';
  color: aquamarine;
  align-content: right;
  text-align: right;
  text-shadow: aqua; 
  margin-bottom: 1rem;
}

.mageseeker img { 
  float: left;
  padding: .5rem;
  width: 350px;
  height: 196px;
  align-items: center;
}

.mageseeker p {
  font-family: 'emotion';
  color: white;
  align-items: center;
  align-content: center;
  text-align: justify;
  margin-top: 4rem;
}

/* -- NOTICIA 2 -- */
.juegos {
  background-color: rgba(0, 0, 0, 0.3); /* se le da opacidad al fondo para que resalte mejor el texto */
  min-height: 10rem;
}
.juegos a {  
  font-family: 'emotion';
  color: aquamarine;
  align-content: right;
  text-align: right;
  text-shadow: aqua;
  margin-bottom: 1rem;  /* para centrar en base a la imagen y texto */ 
}
.juegos img {   
  float: left;
  padding: 1rem;
  width: 350px;
  height: 196px;
} 
.juegos p {
  font-family: 'emotion';
  color: white;
  justify-content: center;
  align-content: right;
  text-align: justify;
  margin-top: 4rem; /* para centrar en base a la imagen */   
}
/* -- NOTICIA 3 -- */
.comiccon {
  background-color: rgba(0, 0, 0, 0.3); /* se le da opacidad al fondo para que resalte mejor el texto */
  min-height: 10rem;
}
.comiccon a {
  font-family: 'emotion';
  color: aquamarine;
  align-content: right;
  text-align: right;
  text-shadow: aqua;
  margin-bottom: 1rem;  /* para centrar en base a la imagen y texto */
}
.comiccon img { 
  float: left;
  padding: 1rem;
  width: 350px;
  height: 196px; 
}
.comiccon p {
  font-family: 'emotion';
  color: white;
  justify-content: center;
  align-content: right;
  text-align: justify;
  margin-top: 4rem; /* para centrar en base a la imagen */ 
}

