/* contenedor padre */
h2{
  font-family: 'emotion';
  font-weight: bold;
  font-size: 2.3em;
  text-shadow: 2px 2px 30px aqua;
  color: white;
  text-align: center; 
  margin-bottom: -1.7rem;
  margin-top: 0.5em;
  /* text-shadow: 2px 2px 2px rgb(113, 5, 156), -2px -2px 2px rgb(3, 171, 197); */
}

#noticias { 
  display: flex; 
  flex-flow: column nowrap; /* atajo para que este en formato vertical y que no se desborde el contenido */
  row-gap: 1rem ; /* espacio entre filas */
}

#noticias li{
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 10em;
  width: 98%;
  padding-bottom: 0.5em;
  box-shadow: 2px 2px 1px rgba(113, 5, 156, 0.5), -2px -2px 1px rgb(3, 171, 197, 0.5);
  margin-left: auto;
  margin-right: auto;
}

#noticias a { /* utilizar esto para manejar los links */  
  width: 7em;
  font-family: 'emotion';
  font-size: 1.5em;
  color: aquamarine;  
  text-shadow: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
  padding: 0.5em;
  margin-bottom: 0;
}

#noticias p { /* maneja los estilos del texto de las noticias*/
  /* background-color: white; */
  font-family: 'emotion';
  color: white;
  display: flex;
  align-items: flex-end;
  align-content: center;
  text-align: justify;
  margin-top: 3em;
  padding: 1em;
  font-size: 1.5em;
}

#noticias img { /* maneja los estilo de los imagenes de las noticias*/
  /* border: 2px solid green; */
  box-sizing: border-box;
  display: flex;  
  float: left;
  margin-top: 5em;  
  margin-bottom: 3em; 
  margin-left: 2em;
  /* padding: 1rem;
  padding-bottom: 1em; */
  /* padding-right: 0; */
  width: 25em;
  height: 15em;
  align-items: center;  
  box-shadow: 1px 1px 3px rgb(113, 5, 156), -1px -1px 3px rgb(3, 171, 197);
}

/*------------------------------ MEDIA QUERIES ---------------------------------------*/  

@media screen and (max-width: 767px) {

  #noticias img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  #noticias p {    
    text-align: left;
  }

}
