.gamer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.gamer h2 {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: .5rem;
    text-shadow: 4px 0px 10px rgb(20, 255, 110);
}

.gamer p {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    text-align: justify;
    color: white;
    padding: .5rem;
}

.gamer a {
    width: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    color:mediumturquoise;
    padding: 1rem;
    background-color: black;
    border: 3px solid rgb(15, 224, 50);
    border-style: ridge;
    border-radius: 16px;    
    box-shadow: 0px 0px 30px rgb(14, 255, 135);
}

.gamer img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*------------------------------ MEDIA QUERIES ---------------------------------------*/

@media screen and (max-width: 767px) {
    
    .gamer h2 {
        font-size: 2.3em;
    }

    .gamer img {        
        width: 100%;
        padding: 0.5em;
    }

    .gamer a {        
        width: 90%;
        font-size: 1.3em;
    }    
}

@media (min-width: 768px) and (max-width: 1023px) {

    .gamer img {        
        width: 100%;
    }

    .gamer a {
        width: 60%;
    }
  }