.comic h2 {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: .5rem;
    text-shadow: 4px 0px 10px deeppink;
}

.comic p {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    text-align: justify;
    color: white;
    padding: .5rem;
    margin: 1rem;
}

.comic a {
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    color:mediumturquoise;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.comic img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#comic {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

/* -- BOTON -- */

.boton {
    background-color: rgba(0, 0, 0, 0.3);    
    font-weight: bolder;
    max-width: 30%;
    border: 3px solid rgb(255, 0, 195);
    border-style: ridge;
    border-radius: 16px;    
    box-shadow: 0px 0px 30px rgb(119, 10, 68);
    margin-left: 10rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

#incentive {   
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
}


/*------------------------------ MEDIA QUERIES ---------------------------------------*/

@media screen and (max-width: 767px) {
    
    .comic h2 {
        font-size: 2.3em;
    }

    .comic img {        
        width: 100%;
        padding: 0.5em;
    }

    .comic a {        
        width: 100%;
        font-size: 1.3em;
    }

    .boton {
        max-width: 90%;       
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .comic img {        
        width: 100%;
    }

    .boton {
        max-width: 100%;
    }
  }



