.honkaisr {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;

}

.honkaisr h2 {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: .5rem;
    text-shadow: 4px 0px 10px rgb(20, 208, 255);
}

.honkaisr p {
    justify-content: center;
    align-items: center;
    font-family: 'emotion';
    text-align: justify;
    color: white;
    padding: .5rem;

}

.honkaisr a {
    width: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    color:mediumturquoise;
    padding: 1rem;
    background-color: black;
    border: 3px solid rgb(15, 193, 224);
    border-style: ridge;
    border-radius: 16px;    
    box-shadow: 0px 0px 30px rgb(14, 207, 255);
}

.honkaisr img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}